<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub search</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div id="app">
        <!-- Favorites -->
        <div class="favorites">
          <transition-group name="list">
            <div class="favorite" v-for="favorite in allFavorites" :key="favorite.id">
              <a @click.prevent="showFavorites(favorite)" href="#" target="_blank">
                <img class="favorite__avatar" :src="favorite.avatar_url" :alt="favorite.name" />
              </a>
            </div>
          </transition-group>
        </div>

        <!-- Content -->
        <article class="content">
            <h1 class="content__title">{{ title }}</h1>

            <!-- Search -->
            <form class="search" v-on:submit.prevent="doSearch">
                <input v-model="search" type="text" class="search__input" required placeholder="Search GitHub users">
                <input type="submit" class="search__submit" value="Search">
            </form>

            <!-- Result -->
            <Transition>
              <div class="result" v-if="result">
                 <a v-if="isFavorite" class="result__toggle-favorite" href="#" @click="removeFavorites">Quitar de Favoritos ⭐</a>
                <a v-else class="result__toggle-favorite" href="#" @click="addFavorites">Añadir a Favoritos ⭐</a>
               <h2 class="result__name">{{ result.name }}</h2>
                <img class="result__avatar" v-bind:src="result.avatar_url" v-bind:alt="result.name" />
                <p class="result__bio">{{ result.bio }}
                   <br />
                   <a class="result__blog" target="_blank" v-bind:href="result.blog">{{ result.blog }}</a>
                 </p>
              </div>
            </Transition>
            <!-- Error -->
            <div v-if="error" class="result__error">{{ error.message }}</div>
        </article>
    </div>
</body>

</html>